h1 {
    height: 10vh;
    text-align: center;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 70vh;
    width: 80%;
}
.holdGame {
    display: flex;
    flex-direction: row;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 70vh;
    background-color: aquamarine;
}
footer {
    background-color: bisque;
    height: 10vh;
    width: 100%;
}
.footerButtons {
 border-radius: 1rem;
}
.modalDisplay {
    display: none;
background: blueviolet;
}
.modalInside {
    background: blueviolet;
}
.close {

}
.modalLink, .categories  {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin darkblue;
}

.row0{
    display: grid;
    grid-row: 1;
    height: 100%;
    background-color: red;
}
.row1{
    display: grid;
    grid-row: 2;
    height: 100%;
    background-color: blue;
}

.row2{
    display: grid;
    grid-row: 3;
    height: 100%;
    background-color: blue;
}
.row3{
    display: grid;
    grid-row: 4;
    height: 100%;
    background-color: blue;
}
.row4{
    display: grid;
    grid-row: 5;
    height: 100%;
    background-color: blue;
}
.row5{
    display: grid;
    grid-row: 6;
    height: 100%;
    background-color: blue;
}
.column1 {
    display: grid;
    grid-column: 1;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column2 {
    display: grid;
    grid-column: 2;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column3 {
    display: grid;
    grid-column: 3;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column4 {
    display: grid;
    grid-column: 4;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column5 {
    display: grid;
    grid-column: 5;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column6 {
    display: grid;
    grid-column: 6;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}