@font-face {
    font-family: friday; 
    src: url("../fonts/fridayVibes.ttf");
}
@font-face {
    font-family: always; 
    src: url("../fonts/always/Always.otf");
}

body, html{
    margin: 0;
    padding: 0;
    background: url(../images/bigHeart.jpg) ;
    /* background-repeat: no-repeat; */
    font-family: friday;
    height: 100vh;
    width: 100vw; 
}
h1 {
    text-align: center;
    color: white;
    font-family: friday;
    font-size: 6rem; 
    margin-top: 0;
}
p{
    font-family: always; 

}
h2 {
    height: 10vh;
    text-align: center;
    color: white;
    font-family: friday;
    font-size: 4rem; 
}
.frontRules {
    font-family: always; 
    font-size: 1rem; 
    height: 3rem;
    border-radius: 1rem;
    color:rgb(19, 43, 9);
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 60vh;
    width: 85%;
}
.holdGame {
    display: flex;
    flex-direction: row;
}
.large {
    
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 60vh;
    background-color: rgb(114, 158, 97);
    border: solid thin green;
    color: white;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.footerButtons {
    margin: 3rem;
    border-radius: 1rem;
    padding-left: 1.5rem;  
    padding-right: 1.5rem;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    color:rgb(19, 43, 9);
    font-family: always; 
}
.restart {
    font-size: 10px;
    padding: 8px;
    border-radius: 1rem;
   
    color:rgb(19, 43, 9);
    font-family: always; 
}
.modalDisplay, .indexPage {
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(16, 116, 116, 0.6);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-family: always; 
}
.indexPage {
    display: flex;
    background: url(../images/bigHeart.jpg);
    background-repeat: no-repeat;
}
.modalInside {
    background: rgb(5, 77, 65);
    padding: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: always; 
    line-height: 2;
}
a {
    text-decoration: none;
    color: white;
    border: solid white thin;
    border-radius: 1rem;
}
.close {
    color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
}
.modalLink, .categories  {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid thin rgb(5, 77, 65);
}
.modalLink {
    background-color: rgb(223, 221, 140);
    color: white;
    
}
.row0{
    display: grid;
    grid-row: 1;
    height: 100%;
    background: url(../images/natureHeart.jpg) center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(19, 43, 9);
    font-family: always; 
    font-size: 1rem;
}
.row1{
    display: grid;
    grid-row: 2;
    height: 100%;
    color:rgb(19, 43, 9);
    /*  background-color: blue; */
    font-family: always; 
}

.row2{
    display: grid;
    grid-row: 3;
    height: 100%;
    color:rgb(19, 43, 9);
    /*  background-color: blue; */
    font-family: always; 
}
.row3{
    display: grid;
    grid-row: 4;
    height: 100%;
    color:rgb(19, 43, 9);
     /* background-color: blue; */
     font-family: always; 
}
.row4{
    display: grid;
    grid-row: 5;
    height: 100%;
    color:rgb(19, 43, 9);
     /* background-color: blue; */
     font-family: always; 
}
.row5{
    display: grid;
    grid-row: 6;
    height: 100%;
    color:rgb(19, 43, 9);
     /* background-color: blue; */
     font-family: always; 
}
.column1 {
    display: grid;
    grid-column: 1;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.column2 {
    display: grid;
    grid-column: 2;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column3 {
    display: grid;
    grid-column: 3;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column4 {
    display: grid;
    grid-column: 4;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column5 {
    display: grid;
    grid-column: 5;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column6 {
    display: grid;
    grid-column: 6;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}